.roster-table-container {
    table {
        color: #fff;
        border-collapse: collapse;
    }

    td, th {
        border: 1px solid #ddd;
        text-align: left;
        padding: 8px;
    }

    tr {
        background-color: #282828;
    }

    tr:nth-child(even) {
        background-color: #404040;
    }
}

.roster-table-loader {
    color: white;
}